@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du&family=Open+Sans:wght@300&family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {

    font-size: 3rem;
    font-family: 'Raleway', sans-serif;

}

h2 {

    font-size: 2rem;
    font-family: 'Raleway', sans-serif;

}

h3 {

    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

p {

    font-size: 1rem;
    font-family: 'Raleway', sans-serif;

}

a {

    font-size: 1rem;
    font-family: 'Raleway', sans-serif;

}


li {

    font-size: 1rem;
    font-family: 'Raleway', sans-serif;

}

/*header*/

header {

    display: flex;
    align-items: center;
    grid-area: he;
    display: grid;
    background: #ffe186;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "log ul"
    ;

}

#ul_header {

    display: flex;
    justify-content: space-around;
    width: 100%;
    grid-area: ul;
    list-style: none;
    
}

.a_header {

    color: black;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 1.35rem;
    
}

.a_header:hover {

    color: brown;

}

#nav_logo{

    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 50px;
    grid-area: log;

}

#logo_bild {

    height: 180px;
    width: auto;

}

/*footer*/

footer {

    background: #FFC107;
    grid-area: fo;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#background_footer_bild {

    width: 100%;
    height: auto;

}

#div_footer {

    position: absolute;

}

#p_footer {

    font-size: 3rem;

}

/*index - 1*/

#body_1 {

    display: grid;
    grid-template-rows: 100px 400px 700px 700px 125px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "he he"
    "se0_0 se0_0"
    "se1_1 se2_1"
    "se3_1 se4_1"
    "fo fo"
    ;

}

#se0_0 {

    background: #FFC107;
    grid-area: se0_0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#div_for_text_startsida {

    position: absolute;
    color: white;
    font-family: 'Kay Pho Du', serif;

}

#p_startsida_hundarna {

    font-size: 5rem;

}

#startsida_hundar {

    width: 100%;
    padding-top: 120px;
    height: auto;

}

#section_1_1 {

    background: #FFC107;
    grid-area: se1_1;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#section_2_1 {

    background: #FFC107;
    grid-area: se2_1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

#katt_startsida {

    width: 100%;
    height: auto;

}

#section_3_1 {

    background: greenyellow;
    display: flex;
    grid-area: se3_1;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#hund_startsida {

    width: 100%;
    height: auto;

}

#section_4_1 {

    background: #FFC107;
    grid-area: se4_1;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.a_start {

    color: black;
    text-decoration: underline; 
    font-weight: bolder;   

}

.a_start:hover {

    color: brown;

}


.p_brevid_katt {
    

    margin-bottom: 30px;

}

.titel_startsida {

    text-decoration: underline;

}

/*traningstips - 2*/

#body_2 {

    display: grid;
    grid-template-rows: 100px 200px 900px 900px 900px 200px 700px 125px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "he he"
    "se1_first se1_first"
    "se1_2 se2_2"
    "se3_2 se4_2"
    "se5_2 se6_2"
    "last_se_2 last_se_2"
    "fo2 fo2"
    "fo fo"
    ;

}

#first_section_2 {

    background: #796529;
    display: flex;
    grid-area: se1_first;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;

}

#section_1_2 {

    display: flex;
    background: #FFC107;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

#section_2_2 {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#section_3_2 {

    display: flex;
    grid-area: se3_2;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

#section_4_2 {

    background: #FFC107;
    display: flex;
    grid-area: se4_2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;

}

#section_5_2 {

    background: #FFC107;
    display: flex;
    grid-area: se5_2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;

}

#section_6_2 {

    display: flex;
    grid-area: se6_2;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.li_tips {

    padding-top: 20px;

}

#li_tips {

    padding-bottom: 20px;

}

.p_taggen_över_tipsen {

    padding-top: 20px;

}

.djur_tips {

    height: auto;
    width: 100%;

}

#rullande_katt {

    padding-bottom: 90px;

}

#last_section_2 {

    grid-area: last_se_2;
    background: #796529;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

#forum2 {

    grid-area: fo2;

}

/*husdjursvord-veterinerservice*/

#body_3 {

    display: grid;
    grid-template-rows: 100px 600px 150px 350px 350px 125px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "he he he he"
    "se1_3 se1_3 se2_3 se2_3"
    "in in in in"
    "sebig_3 sebig_3 sebig_3 sebig_3"
    "sebig_3 sebig_3 sebig_3 sebig_3"
    "fo fo fo fo"
    ;

}

#section_1_3 {

    grid-area: se1_3;
    padding-left: 50px;
    padding-right: 50px;
    background: #FFC107;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.text_3 {

    padding-bottom: 40px;

}

#section_2_3 {

    grid-area: se2_3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#hund {

    width: auto;
    height: 100%;

}


#section_intro_kontakter_3 {

    grid-area: in;
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background: #796529;
    text-align: center;

}


#kontakter_section {

    background: #FFC107;
    padding: 50px;
    display: grid;
    grid-area: sebig_3;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "se3_3 se4_3 se5_3 se6_3"
    "se7_3 se8_3 se9_3 se10_3"
    ;

}

#section_3_3 {

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    grid-area: se3_3;

}


#section_4_3 {

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    grid-area: se4_3;

}

#section_5_3 {

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    grid-area: se5_3;

}

#section_6_3 {

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    grid-area: se6_3;
    
}

#section_7_3 {

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    grid-area: se7_3;
    
}

#section_8_3 {

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    grid-area: se8_3;
    
}

#section_9_3 {

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    grid-area: se9_3;
    
}

#section_10_3 {

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    grid-area: se10_3;
}

.person_tall {

    width: 100%;
    height: auto;

}

.person_wide {

    width: auto;
    height: 100%;

}

.div_for_text_kontakter {

    position: absolute;
    color: white;
    bottom: 0px;
    font-family: 'Kay Pho Du', serif;
    

}

.p_card {

    font-size: 2rem;

}

#last_section_3 {

    grid-area: last_se_3;
    background: #796529;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;

}

#forum3 {

    grid-area: fo3;
    

}